@tailwind base;
@tailwind components;
@tailwind utilities;


.heroBg{
    background-image: url('../assets/heroBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navBg{
    background-image: url('../assets/navBg.png');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
.aboutBg{
    background-image: url('../assets/aboutBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.becomeATutorBg{
    background-image: url('../assets/becomeATutorBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.becomeATutorBgBoy{
    background-image: url('../assets/becomeATutorBoy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.becomeATutorBgGirl{
    background-image: url('../assets/becomeATutorGirl.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.requestAQuoteBg{
    background-image: url('../assets/requestAQuote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.downloadBg{
    background-image: url('../assets/downloadBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.iconstyle{
    font-size: 2rem;
}
